<% layout('/layouts/boilerplate') %> <% let questions = [data[0], data[1]] %>
<form action="">
    <div class="d-flex flex-row justify-content-evenly vh-75">
        <% for (let i = 0; i < questions.length; i++) { console.log(questions[1])%>
        <div class="card mx-3" style="width: 18rem">
            <img src="https://static.tvtropes.org/pmwiki/pub/images/dndrace2.png" class="card-img-top" alt="RPG races" />
            <div class="card-body">
                <h5 class="card-title">Q<%=i+1%>:</h5>
                <p class="card-text"><%=questions[i].question%></p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <input type="radio" name="q<%=i+1%>" id="q<%=i+1%>_a" />
                    <label for="q<%=i+1%>_a" class="card-text"><%=questions[i].a.answer%></label>
                </li>
                <li class="list-group-item">
                    <input type="radio" name="q<%=i+1%>" id="q<%=i+1%>_b" />
                    <label for="q<%=i+1%>_b" class="card-text"><%=questions[i].b.answer%></label>
                </li>
                <li class="list-group-item">
                    <input type="radio" name="q<%=i+1%>" id="q<%=i+1%>_c" />
                    <label for="q<%=i+1%>_c" class="card-text"><%=questions[i].c.answer%></label>
                </li>
                <li class="list-group-item">
                    <input type="radio" name="q<%=i+1%>" id="q<%=i+1%>_d" />
                    <label for="q<%=i+1%>_d" class="card-text"><%=questions[i].d.answer%></label>
                </li>
            </ul>
        </div>
        <% } %>
    </div>
</form>

<script>
    // document.querySelector("#q2a").style.display = "none";

    let radiobtn = document.querySelector("#q2_a");

    radiobtn.addEventListener("click", (e) => {
        document.querySelector("#q2a").style.display = "block";
    });
</script>
